

.nav-bar{
	background-color: #383d40;
	display: block;
}

.selBox{
	margin-bottom: 10px;
}
.main{
	background-color: #383d40;
}

.copyright{
	position: fixed;
	bottom: 0;
	left: 0;
	margin: 15px;
	padding-left: 5%;
}

.action-btn{
	position: fixed;
  bottom: 0;
	right : 0;
	/*left: 50%;*/
  /* Firefox */
  /*left: -moz-calc( 50% - 65.5px);*/
  /* WebKit */
  /*left: -webkit-calc( 50% - 65.5px);*/
  /* Opera */
  /*left: -o-calc( 50% - 65.5px);*/
  /* Standard */
  /*left: calc( 50% - 65.5px);*/
  margin: 8px;
	padding-right: 10%;
}

.top-header {
	box-sizing: border-box;
  max-width: 960px;
  min-width: 200px;
  margin: 0 auto;
	padding: 12px;
	height: 50px;
}

div.custom-area{
	width: 306px;
  /*height: 510px;*/
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* 하이퍼링크 플랫 스타일 */
a.nametag { text-decoration:none; }
a.nametag:visited { color: #fff; text-decoration: none; }
a.nametag:active { color: #fff; text-decoration: none; }
a.nametag:hover { color: #fff; text-decoration: none; }

/* 타이틀 로고 */
#title {
	color: white;
	font-size:20px;
	font-family:'Noto Sans Gothic';
}

/* 미리보기 처리 관련 스타일 */
div.nameTag {
	width: 306px;
	height: 510px;
	border-radius: 10px;
	border: 1px;
	border-style: dashed;
	border-color: #888;

	display: block;
	margin-left: auto;
	margin-right: auto;
}
div.nameTag .preview {
	width: 100%; height: 100%;
	padding: 80px 10px 10px 10px; box-sizing: border-box;
	position: relative;
	line-height:2.5;
	text-align: initial;
	font-family: 'Noto Sans KR', sans-serif;
	font-size:20pt;
}

.bottom-padding{
	padding-bottom: 70px;
}
.preview .varName {
	display: block;
}
.preview .comment {
	display: block;
}
.preview .company {
	position: absolute;
	bottom : 15px;
	left : 25px;
}
/* information 말풍선 */
#informationBox {
  position:relative;
  /*display: none;*/
}
.bubble  {
	/*font-size: 13.5px;*/
  right: 0;
  top: 45px;
  z-index: 99;
  position: absolute;
  width: 300px;
  height: 330px;
  padding: 0px;
  background: #eee;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  padding: 18px;
  font-size: 9pt;
}
dt, dd {
    font-size: 1.12em;
}

.bubble:after  {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0px 11px 26px 13px;
  border-color: #eee transparent;
  display: block;
  width: 0;
  z-index: 1;
  top: -19px;
  right: 0px;
}
#resultArea {
  width:100%;height: 100%;position:absolute;top: 0;left: 0;display:none;
  z-index: 1;
}

#startInfo {
	background-color: rgba(0,0,0,0.5);
  width:100%;
	height: 100%;
	position:absolute;
	top: 0;
	left: 0;
	/*display:none;*/
  z-index: 1;
}

#resultBackground {
  background-color: rgba(0,0,0,0.5);
  width:100%;
  height:100%;
  top: 0;
  left : 0;
  position: fixed;
  z-index: -1;
}
